<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>

      <add key="client_id" value="uam3aph3b62gvn3qq3rlubmldr"/>
      <add key="client_secret" value="sv5r6e4jcitv3tc4mmpcm8087d"/>
      <add key="response_type" value="code"/>
      <add key="redirect_uri" value="http://localhost:1294/Values/Code"/>
      
      <add key="grant_type" value="authorization_code"/>
      
      
      <add key="EventbaseUrl" value=" https://api.meetup.com/2/open_events.xml"/>
      <add key="MeetUpClientKey" value="uam3aph3b62gvn3qq3rlubmldr"/>
      <add key="Token" value="Bearer 3eea9554e9d064b4dd731f5eae4100b7"/>
      <add key="timeParameter" value=",1d"/><!--,1d表示在今天之后的一天-->

      <add key="CSVFolder" value="..\..\AppData\"/>
    </appSettings>
</configuration>